@charset "utf-8";
/* CSS Document */
@font-face {
    /* font-properties */
    font-family: element-icons;
    src: url('../fonts/element-icons.ttf'),
    url('../fonts/element-icons.woff'); /* IE9 */
}
.loginTitle{
	text-align: center;
}
