<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="dist/thymeleaf/common_head :: header('登录')"></head>
<link th:href="@{css/style.css}" rel="stylesheet">
<body>
<div th:insert="~{dist/thymeleaf/common_head :: #body_js}"></div>
<div id="app">
    <el-row type="flex" class="row-bg" justify="center">
        <el-col
                :md="12" :lg="12" :xl="12">
            <div class="grid-content bg-purple">
                <h2>登录系统</h2>
            </div>
        </el-col>
    </el-row>
    <el-row type="flex" class="row-bg" justify="center">
        <el-col :md="12" :lg="12" :xl="12">
            <div class="grid-content bg-purple">
                <template>
                    <el-tabs v-model="activeName"
                             @tab-click="handleClick">
                        <el-tab-pane label="登录"
                                     name="login">
                            <el-form :model="ruleForm1" status-icon
                                     :rules="rules1" ref="ruleForm1" label-width="100px"
                                     class="demo-ruleForm"
                                     action="/cms/login/dologin"
                                     method="POST" name="login">
                                <el-form-item label="用户名"
                                              prop="colname">
                                    <el-input
                                            v-model="ruleForm1.colname" name="colname"></el-input>
                                </el-form-item>
                                <el-form-item
                                        label="密码" prop="colpassword">
                                    <el-input type="password"
                                              v-model="ruleForm1.colpassword" auto-complete="off" name="colpassword"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary"
                                               native-type="submit">提交
                                    </el-button>
                                    <el-button @click="resetForm('ruleForm2')">重置</el-button>
                                </el-form-item>
                            </el-form>
                        </el-tab-pane>
                        <el-tab-pane
                                label="注册" name="register">
                            <el-form
                                    :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2"
                                    label-width="100px" class="demo-ruleForm"
                                    action="/cms/register/doregister"
                                    method="POST" name="register">
                                <el-form-item label="用户名"
                                              prop="colname">
                                    <el-input
                                            v-model="ruleForm2.colname" name="colname"></el-input>
                                </el-form-item>
                                <el-form-item
                                        label="密码" prop="colpassword">
                                    <el-input type="password"
                                              v-model="ruleForm2.colpassword" auto-complete="off" name="colpassword"></el-input>
                                </el-form-item>
                                <el-form-item label="确认密码" prop="checkPass">
                                    <el-input
                                            type="password" v-model="ruleForm2.checkPass"
                                            auto-complete="off" name="checkPass"></el-input>
                                </el-form-item>
                                <el-form-item prop="colemail" label="邮箱"
                                              :rules="[
      { required: true, message: '请输入邮箱地址', trigger: 'blur' },
      { type: 'email', message: '请输入正确的邮箱地址', trigger: 'blur,change' }
    ]">
                                    <el-input v-model="ruleForm2.colemail" name="colemail"></el-input>
                                </el-form-item>
                                <el-form-item label="学号"
                                              prop="colstudentno">
                                    <el-input
                                            v-model="ruleForm2.colstudentno" name="colstudentno"></el-input>
                                </el-form-item>
                                <el-form-item label="真实姓名"
                                              prop="colrealname">
                                    <el-input
                                            v-model="ruleForm2.colrealname" name="colrealname"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary"
                                               native-type="submit">提交
                                    </el-button>
                                    <el-button @click="resetForm('ruleForm2')">重置</el-button>
                                </el-form-item>
                            </el-form>
                        </el-tab-pane>
                    </el-tabs>
                </template>
            </div>
        </el-col>
    </el-row>
</div>
<script th:src="@{js/loginstyle.js}"></script>
<!--<body>
&lt;!&ndash;<center>
    <h1>登录系统</h1>
    <form action="/cms/login/dologin" method="post">
        <p>用户名：
            <input type="text" name="colname"></p>
        <p>密码：
            <input type="password" name="colpassword"></p>
        <input type="submit" value="登录">
</center>&ndash;&gt;
</form>-->
</body>
</html>