<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>单文件 上传 </title>
</head>
<body>
<div style="margin: 0 auto;margin-top: 100px; ">
    <form action="/cms/test" method="post" enctype="multipart/form-data">
        <p>
            <span>文件路径测试：</span>
            <input type="file" name="imageFile">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

    <form action="/cms/oneUpload" method="post" enctype="multipart/form-data">
        <p>
            <span>文件：</span>
            <input type="file" name="imageFile">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

</div>
</body>
</html>