<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="dist/thymeleaf/common_head :: header('管理员主页')">
</head>

<body>
<div th:insert="~{dist/thymeleaf/common_head :: #body_js}"></div>
<div id="app">
    <el-container>
        <el-container>
            <el-header th:include="dist/thymeleaf/layout :: header"></el-header>
            <el-main>
                <el-col :md="4" :lg="4" :xl="4" class="hidden-sm-and-down">
                    <el-row>
                        <el-card th:include="dist/thymeleaf/layout :: userbox"></el-card>
                    </el-row>
                    <el-row>
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>管理员</span><br>
                                <span>管理员号</span>
                            </div>
                            <div class="item">
                                <el-button type="text" @click="ClickToJump('admin')">后台主页</el-button>
                                <br>
                                <el-button type="text" @click="ClickToJump('managecourse')">课程管理</el-button>
                                <br>
                                <el-button type="text" @click="ClickToJump('homework')">作业管理</el-button>
                                <br>
                                <el-button type="text" @click="ClickToJump('manageuser')">用户管理</el-button>
                            </div>
                        </el-card>
                    </el-row>
                </el-col>
                <el-col :md="13" :lg="13" :xl="13" :sm="18" :xs="23" :offset="1">
                    <el-row>
                        <h4>发布公告</h4>
                        <el-form :model="form">
                            <el-form-item label="公告内容">
                                <el-input v-model="form.content" placeholder="公告内容" type="textarea"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="onSubmit">添加</el-button>
                            </el-form-item>
                        </el-form>
                    </el-row>
                    <el-row>
                        <span>近期登陆日志</span><br>
                        <template>
                            <el-table :data="logData" height="300" :default-sort="{prop: 'time', order: 'descending'}">
                                <el-table-column prop="colname" label="用户名" sortable>
                                </el-table-column>
                                <el-table-column prop="coltime" label="时间" sortable>
                                </el-table-column>
                                <el-table-column prop="colip" label="ip地址" sortable>
                                </el-table-column>
                                <el-table-column prop="colheader" label="请求头" sortable>
                                </el-table-column>
                            </el-table>
                        </template>
                    </el-row>
                </el-col>
                <el-col :md="5" :lg="5" :sm="5" :xl="5" class="hidden-xs-only" :offset="1">
                    <el-row>
                        <el-col :span="24">
                            <div class="grid-content">
                                <el-card class="box-card hidden-xs-only">
                                    <div slot="header" class="clearfix">
                                        <span>用户反馈</span>
                                    </div>
                                    <div class="text item">
                                        <el-table :data="feedbackData" style="width: 100%" height="300"
                                                  :default-sort="{prop: 'time', order: 'descending'}">
                                            <el-table-column prop="content" label="内容" sortable>
                                            </el-table-column>
                                            <el-table-column prop="time" label="时间" sortable>
                                            </el-table-column>
                                            <el-table-column prop="username" label="用户名" sortable>
                                            </el-table-column>
                                        </el-table>
                                    </div>
                                </el-card>
                            </div>
                        </el-col>
                    </el-row>
                </el-col>
            </el-main>
            <el-footer th:include="dist/thymeleaf/layout :: footer"></el-footer>
        </el-container>
    </el-container>
</div>
<script th:src="@{../js/admin.js}"></script>
<script th:src="@{../js/msg.js}"></script>
</body>
</html>
