<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="dist/thymeleaf/common_head :: header('首页')">
</head>
<body>
<div th:insert="~{dist/thymeleaf/common_head :: #body_js}"></div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div id="app">
    <el-container>
        <el-aside th:include="dist/thymeleaf/layout :: asider"></el-aside>
        <el-container>
            <el-header th:include="dist/thymeleaf/layout :: header"></el-header>
            <el-main>
                <el-row>
                    <el-col :md="12" :lg="12" :xl="12">
                        <div class="grid-content bg-purple-dark">
                            <el-upload class="upload-demo" ref="upload" action="/cms/moreUpload" :on-preview="handlePreview" :on-remove="handleRemove"
                                       :file-list="fileList" :auto-upload="false" name="imageFile">
                                <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                                <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">
                                    上传到服务器
                                </el-button>
                                <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                            </el-upload>
                        </div>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :md="24" :lg="12" :xl="12">
                        <div class="grid-content bg-purple-dark">

                            <el-table :data="DownloadList" height="250" border style="width: 100%">
                                <el-table-column prop="colfileid" label="文件号" width="80">
                                </el-table-column>
                                <el-table-column prop="colfilename" label="文件名" width="180">
                                </el-table-column>
                                <el-table-column prop="colfilesize" label="大小" width="80">
                                </el-table-column>
                                <el-table-column prop="colfilepath" label="地址">
                                </el-table-column>
                                <el-table-column fixed="right" label="操作" width="150">
                                    <template slot-scope="scope">
                                        <el-button @click="handleDownload(scope.row)" type="success" plain size="small">
                                            下载
                                        </el-button>
                                        <el-button type="danger" plain size="small">删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                    </el-col>
                </el-row>
            </el-main>
        </el-container>
    </el-container>
</div>
<!--<div th:include="/dist/thymeleaf/footer :: copyright"></div>-->
<script th:src="@{js/homePage.js}"></script>
<script th:src="@{js/msg.js}"></script>
</body>
</html>