<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="dist/thymeleaf/common_head :: header('作业管理')">
</head>
<body>
<div th:insert="~{dist/thymeleaf/common_head :: #body_js}"></div>
<div id="app">
    <el-container>
        <el-container>
            <el-header th:include="dist/thymeleaf/layout :: header"></el-header>
            <el-main>
                <el-col :md="4" :lg="4" :xl="4" class="hidden-sm-and-down">
                    <el-row>
                        <el-card th:include="dist/thymeleaf/layout :: userbox"></el-card>
                    </el-row>
                    <el-row>
                        <el-card th:include="dist/thymeleaf/layout :: adminbox"></el-card>
                    </el-row>
                </el-col>
                <el-col :md="12" :lg="12" :xl="12" :sm="16" :xs="23" :offset="1">
                    <el-row>
                    <template>
                        <div style="margin-bottom: 20px">
                            <el-button @click="toggleSelection([tableData3[1], tableData3[2]])">切换第二、第三行的选中状态</el-button>
                            <el-button @click="toggleSelection()">取消选择</el-button>
                            <el-button @click="togglePost()" type="danger" plain>删除作业</el-button>
                        </div>
                        <el-table ref="multipleTable" :data="homeworkData"
                                  tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                            <el-table-column type="selection" prop='fileid'>
                            </el-table-column>
                            <el-table-column prop="courseName" label="课程名">
                            </el-table-column>
                            <el-table-column prop="name" label="作业名">
                            </el-table-column>
                            <el-table-column prop="time" label="日期">
                            </el-table-column>
                            <el-table-column prop="remark" label="要求">
                            </el-table-column>
                            <el-table-column prop="folder" label="子文件夹" show-overflow-tooltip>
                            </el-table-column>
                            <el-table-column fixed="right" label="操作" width="200">
                                <template slot-scope="scope">
                                    <el-button @click="handleDownload(scope.row)" type="success" plain
                                               size="small">
                                        批量下载
                                    </el-button>
                                    <el-button type="primary" plain size="small"
                                               @click="findUncommitStudent(scope.row)">未交名单</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template></el-row>
                    <el-dialog title="未提交人员名单" :visible.sync="dialogTableVisible">
                        <el-table :data="UncommittedPersonList" :default-sort="{prop: 'colstudentno', order: 'ascending'}">
                            <el-table-column property="colstudentno" label="学号" sortable></el-table-column>
                            <el-table-column property="colrealname" label="姓名" sortable></el-table-column>
                            <el-table-column property="sex" label="性别" sortable></el-table-column>
                        </el-table>
                    </el-dialog>
                   <el-row>
                        <h4>添加作业</h4>
                        <el-form :inline="true" :model="formInline" class="demo-form-inline">
                            <el-form-item label="作业名称">
                                <el-input v-model="formInline.name" placeholder="作业名称"></el-input>
                            </el-form-item>
                            <el-form-item label="模板文件名称">
                                <el-select v-model="formInline.name" placeholder="模板文件名称">
                                    <el-option label="区域一" value="shanghai"></el-option>
                                    <el-option label="区域二" value="beijing"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="课程名称" :model="homeworkFormData">
                                <el-select v-model="homeworkFormData.courseName" placeholder="课程名称">
                                    <el-option label="homeworkFormData.courseName" value="homeworkFormData.courseName"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="存储文件夹">
                                <el-input v-model="formInline.folder" placeholder="存储文件夹"></el-input>
                            </el-form-item>
                            <el-form-item label="作业内容">
                                <el-input v-model="formInline.content" placeholder="作业内容" type="textarea"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="onSubmit">添加</el-button>
                            </el-form-item>
                        </el-form>
                    </el-row>
                </el-col>
                <el-col :md="7" :lg="7" :sm="7" :xl="7" class="hidden-xs-only">

                </el-col>
            </el-main>
            <el-footer>
                <div class="footer">
                    © 2018 作业提交系统
                </div></el-footer>
        </el-container>
    </el-container>
</div>
<script th:src="@{/js/homework.js}+'?v=0.1'"></script>
</body>
</html>
