<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="dist/thymeleaf/common_head :: header('课程管理')">
</head>

<body>
<div th:insert="~{dist/thymeleaf/common_head :: #body_js}"></div>
<div id="app">
    <el-container>
        <el-container>
            <el-header th:include="dist/thymeleaf/layout :: header"></el-header>
            <el-main>
                <el-col :md="4" :lg="4" :xl="4" class="hidden-sm-and-down">
                    <el-row>
                        <el-card th:include="dist/thymeleaf/layout :: userbox"></el-card>
                    </el-row>
                    <el-row>
                        <el-card th:include="dist/thymeleaf/layout :: adminbox"></el-card>
                    </el-row>
                </el-col>
                <el-col :md="12" :lg="12" :xl="12" :sm="16" :xs="23" :offset="1">
                   <el-row>
                       <template>
                           <div style="margin-bottom: 20px">
                               <el-button @click="toggleSelection([tableData3[1], tableData3[2]])">切换第二、第三行的选中状态</el-button>
                               <el-button @click="toggleSelection()">取消选择</el-button>
                               <el-button @click="togglePost()" type="danger" plain>删除课程</el-button>
                           </div>
                           <el-table ref="multipleTable" :data="tableData3"
                                     tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                               <el-table-column type="selection" prop='courseNo' width="55">
                               </el-table-column>
                               <el-table-column prop="courseName" label="课程名">
                               </el-table-column>
                               <el-table-column label="日期" width="120">
                                   <template slot-scope="scope">{{ scope.row.courseTime }}</template>
                               </el-table-column>
                               <el-table-column prop="teacherrealname" label="老师姓名" width="120">
                               </el-table-column>
                               <el-table-column prop="teacherusername" label="老师用户名" width="120">
                               </el-table-column>
                           </el-table>
                       </template>
                   </el-row>
                    <el-row>
                    <h4>添加课程</h4>
                    <el-form :inline="true" :model="formInline" class="demo-form-inline">
                        <el-form-item label="课程名">
                            <el-autocomplete class="inline-input" v-model="state1"
                                             :fetch-suggestions="querySearchAsync" placeholder="课程名"
                                             @select="handleSelect"></el-autocomplete>
                        </el-form-item>
                        <el-form-item label="教师名">
                            <el-autocomplete class="inline-input" v-model="state2"
                                             :fetch-suggestions="querySearchAsync" placeholder="教师名"
                                             @select="handleSelect"></el-autocomplete>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="onSubmit">添加</el-button>
                        </el-form-item>
                    </el-form></el-row>
                </el-col>

                </el-row>
                <el-col :md="7" :lg="7" :sm="7" :xl="7" class="hidden-xs-only">

                </el-col>
            </el-main>
            <el-footer th:include="dist/thymeleaf/layout :: footer"></el-footer>
        </el-container>
    </el-container>
</div>
<script th:src="@{/js/managecourse.js}"></script>
<script th:src="@{/js/common.js}"></script>
</body>
</html>
