<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="dist/thymeleaf/common_head :: header('用户管理')">
</head>
<body>
<div th:insert="~{dist/thymeleaf/common_head :: #body_js}"></div>
<div id="app">
    <el-container>
        <el-container>
            <el-header th:include="dist/thymeleaf/layout :: header"></el-header>
            <el-main>
                <el-col :md="4" :lg="4" :xl="4" class="hidden-sm-and-down">
                    <el-row>
                        <el-card th:include="dist/thymeleaf/layout :: userbox"></el-card>
                    </el-row>
                    <el-row>
                        <el-card th:include="dist/thymeleaf/layout :: adminbox"></el-card>
                    </el-row>
                </el-col>
                <el-col :md="12" :lg="12" :xl="12" :sm="16" :xs="23" :offset="1">
                    <template>
                        <div style="margin-bottom: 20px">
                            <el-button @click="toggleSelection()">取消选择</el-button>
                            <el-button @click="togglePost()" type="primary" plain>设为老师</el-button>
                            <el-button @click="togglePost()" type="warning" plain>设为管理员</el-button>
                            <el-button @click="togglePost()" type="danger" plain>删除用户</el-button>
                        </div>
                        <el-table ref="multipleTable" :data="userData"  @selection-change="handleSelectionChange"
                                  tooltip-effect="dark" style="width: 100%" >
                            <el-table-column type="selection" prop='coluserid'>
                            </el-table-column>
                            <el-table-column prop="colname" label="用户名">
                            </el-table-column>
                            <el-table-column label="邮箱">
                                <template slot-scope="scope">{{ scope.row.colemail }}</template>
                            </el-table-column>
                            <el-table-column prop="colstudentno" label="学号" show-overflow-tooltip>
                            </el-table-column>
                            <el-table-column prop="colrealname" label="姓名">
                            </el-table-column>
                        </el-table>
                    </template>
                </el-col>
                <el-col :md="7" :lg="7" :sm="7" :xl="7" class="hidden-xs-only">

                </el-col>
            </el-main>
            <el-footer th:include="dist/thymeleaf/layout :: footer"></el-footer>
        </el-container>
    </el-container>
</div>
<script th:src="@{/js/manageuser.js}"></script>
<script th:src="@{/js/common.js}"></script>
</body>
</html>
