<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="dist/thymeleaf/common_head :: header('个人中心')">
</head>
<body>
<div th:insert="~{dist/thymeleaf/common_head :: #body_js}"></div>
<div id="app">
    <el-container>
        <el-container>
            <el-header th:include="dist/thymeleaf/layout :: header"></el-header>
            <el-main>
                <el-col :md="4" :lg="4" :xl="4" class="hidden-sm-and-down">
                    <el-card th:include="dist/thymeleaf/layout :: userbox"></el-card>
                </el-col>
                <el-col :md="13" :lg="13" :xl="13" :sm="18" :xs="23" :offset="1">
                    <el-row>
                        <h4>修改信息</h4>
                        <el-form
                                :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2"
                                label-width="100px" class="demo-ruleForm"
                                action="/cms/home/userUpdate"
                                method="POST" name="register">
                            <el-form-item label="ID"
                                          prop="coluserid">
                                <el-input :readonly="true" v-model="ruleForm2.coluserid"
                                        name="coluserid" readonly></el-input>
                            </el-form-item>
                            <el-form-item label="用户名"
                                          prop="colname">
                                <el-input v-model="ruleForm2.colname"
                                         name="colname" ref="name"></el-input>
                            </el-form-item>
                            <el-form-item
                                    label="密码" prop="colpassword">
                                <el-input type="password" placeholder="不改密码则留空" v-model="ruleForm2.colpassword"
                                          auto-complete="off" name="colpassword"></el-input>
                            </el-form-item>
                            <el-form-item label="确认密码" prop="checkPass">
                                <el-input placeholder="不改密码则留空"
                                        type="password" v-model="ruleForm2.checkPass"
                                        auto-complete="off" name="checkPass"></el-input>
                            </el-form-item>
                            <el-form-item prop="colemail" label="邮箱"
                                          :rules="[
      { required: true, message: '请输入邮箱地址', trigger: 'blur' },
      { type: 'email', message: '请输入正确的邮箱地址', trigger: 'blur,change' }
    ]">
                                <el-input v-model="ruleForm2.colemail" name="colemail" ref="email"></el-input>
                            </el-form-item>
                            <el-form-item label="学号"
                                          prop="colstudentno">
                                <el-input v-model="ruleForm2.colstudentno"
                                         name="colstudentno" ref="studentno"></el-input>
                            </el-form-item>
                            <el-form-item label="真实姓名"
                                          prop="colrealname">
                                <el-input v-model="ruleForm2.colrealname"
                                         name="colrealname" ref="realname"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary"
                                           @click="submitForm('ruleForm2','/home/userUpdate')">提交
                                </el-button>
                                <el-button @click="resetForm('ruleForm2')">重置</el-button>
                            </el-form-item>
                        </el-form>
                    </el-row>
                    <el-row>
                        <h4>设置密保问题</h4>
                        <el-form
                                :model="ruleForm3" status-icon :rules="rules3" ref="ruleForm3"
                                label-width="100px" class="demo-ruleForm"
                                method="POST" name="ruleForm3">
                            <el-form-item label="ID"
                                          prop="coluserid">
                                <el-input :readonly="true" v-model="ruleForm3.coluserid"
                                          name="userid" readonly></el-input>
                            </el-form-item>
                            <el-form-item label="问题"
                                          prop="question">
                                <el-select v-model="ruleForm3.question" placeholder="请选择密保问题" name="question">
                                    <el-option label="您母亲的姓名是？" value="您母亲的姓名是？"></el-option>
                                    <el-option label="您父亲的姓名是？" value="您父亲的姓名是？"></el-option>
                                    <el-option label="您配偶的姓名是？" value="您配偶的姓名是？"></el-option>
                                    <el-option label="您的出生地是？" value="您的出生地是？"></el-option>
                                    <el-option label="您高中班主任的名字是？" value="您高中班主任的名字是？"></el-option>
                                    <el-option label="您初中班主任的名字是？" value="您初中班主任的名字是？"></el-option>
                                    <el-option label="您的小学校名是？" value="您的小学校名是？"></el-option>
                                    <el-option label="您最熟悉的童年好友名字是？" value="您最熟悉的童年好友名字是？"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="答案"
                                          prop="answer">
                                <el-input v-model="ruleForm3.answer"
                                          name="answer"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary"
                                           @click="submitForm('ruleForm3','/home/adduserque')">提交
                                </el-button>
                                <el-button @click="resetForm('ruleForm3')">重置</el-button>
                            </el-form-item>
                        </el-form>
                    </el-row>
                </el-col>
                <el-col :md="5" :lg="5" :sm="5" :xl="5" class="hidden-xs-only" :offset="1">
                    <el-row>
                        <el-col :span="24">
                            <div class="grid-content">
                                <el-card th:include="dist/thymeleaf/layout :: timelimit"></el-card>
                            </div>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-card th:include="dist/thymeleaf/layout :: notice"></el-card>
                    </el-row>
                </el-col>
            </el-main>
            <el-footer th:include="dist/thymeleaf/layout :: footer"></el-footer>
        </el-container>
    </el-container>
</div>
<script th:src="@{/js/user.js}"></script>
</body>
</html>
